:root {
  --board-row: 4;
  --board-col: 3;
  --tile-size: 112px;
  --dot-size: 9px;
  --dot-margin: 8px;
}

#app-wrapper {
  height: 100%;
}
html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  user-select: none;
  height: 100%;
}

body {
  display: grid;
}

.container {
  text-align: center;
  margin: auto;
}


#ally-hand, #enemy-hand {
  display: flex;
  width: calc(var(--tile-size) / 2);
  border: dashed 2px #776e65;
  border-radius: 4px;
  padding: 4px;
}
#ally-hand { flex-direction: column-reverse; }
#enemy-hand { flex-direction: column; }

.game-container {
  display: inline-flex;
  margin-bottom: 8px;
}

.game-message {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(238, 228, 218, 0.5);
  border-radius: 6px;
  color: #f9f6f2;
  z-index: 100;
  text-align: center;
  animation: fade-in 800ms ease;
  animation-fill-mode: both;
}
.game-message[data-on="true"] {
  display: flex;
}
.game-message p {
  font-size: 60px;
  font-weight: bold;
}
.game-message .lower {
  font-size: 30px;
  font-weight: bold;
}
.game-setting {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f9f6f2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(238, 228, 218, 0.5);
  z-index: 100;
  text-align: center;
  animation: fade-in 800ms ease;
  animation-fill-mode: both;
  font-size: 48px;
  font-weight: 600;
}
.game-setting[data-on="true"] {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, var(--tile-size));
  grid-gap: 15px;
  z-index: 1;
}

.grid-wrapper {
  position: relative;
  padding: 0px 15px;
  user-select: none;
  background: #bbada0;
  border-radius: 6px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  display: inline-block;
  margin: 0px 8px 0px 8px;
}

.grid-cell {
  width: var(--tile-size);
  height: var(--tile-size);
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
}

.tile-container {
  position: absolute;
  z-index: 2;
}
.turn-indicator {
  width: 100%;
  height: 8px;
  background: rgb(205, 193, 180);
  border-radius: 4px;
  margin: 7.5px 0px;
  transition: 0.5s;
}
.turn-indicator[data-on=true][data-team="0"] {
  background: #ffffff;
}
.turn-indicator[data-on=true][data-team="1"] {
  background: #ffffff;
}

.github > a {
  color: #7b726a;
  text-decoration: none;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* mobile */
@media screen and (max-width: 600px) {
  :root {
    --tile-size: 20vw;
  }

  .grid-cell {
    width: var(--tile-size);
    height: var(--tile-size);
  }

  .game-message p {
    font-size: 45px;
    font-weight: bold;
  }
  .game-message .lower {
    font-size: 25px;
    font-weight: bold;
  }

  .game-container {
    display: inline-block;
  }

  #ally-hand {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: auto;
    height: calc(var(--tile-size) / 2);
  }

  #enemy-hand {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    width: auto;
    height: calc(var(--tile-size) / 2);
  }
  .grid-wrapper {
    margin: 8px 0px 8px 0px;
  }
}

.tile {
  position: relative;
  width: var(--tile-size);
  height: var(--tile-size);
  line-height: var(--tile-size);
  border-radius: 3px;
  background: #eee4da;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  box-sizing: border-box;
  font-size: calc(var(--tile-size) / 2);
  touch-action: none;
}

.tile[data-team="ally"] {
  color: #f9f6f2;
  background: #40b6da;
}
.tile[data-team="enemy"] {
  color: #f9f6f2;
  background: #da5f40;
  transform: scale(-1);
}

.tile-dot-container {
  position: absolute;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, var(--dot-size));
  grid-gap: calc(var(--tile-size) / 2 - 1.5 * var(--dot-size) - var(--dot-margin));
  margin: var(--dot-margin);
}

.tile-dot {
  height: var(--dot-size);
  width: var(--dot-size);
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}

.tile-dot-hidden {
  height: var(--dot-size);
  width: var(--dot-size);
  visibility: hidden;
}


#ally-hand > .tile, #enemy-hand > .tile {
  width: calc(var(--tile-size) / 2);
  height: calc(var(--tile-size) / 2);
  line-height: calc(var(--tile-size) / 2);
  border-radius: 3px;
  font-size: 27px;
}

#ally-hand > .tile { margin: 4px 0px 0px 0px; }
#enemy-hand > .tile { margin: 0px 0px 4px 0px; }

#ally-hand .tile-dot-container, #enemy-hand .tile-dot-container {
  grid-template-columns: repeat(3, calc(var(--dot-size) / 2));
  grid-gap: calc(var(--tile-size) / 4 - 0.75 * var(--dot-size) - var(--dot-margin) / 2);
  margin: calc(var(--dot-margin) / 2);
}

#ally-hand .tile-dot, #enemy-hand .tile-dot, #ally-hand .tile-dot-hidden, #enemy-hand .tile-dot-hidden {
  height: calc(var(--dot-size) / 2);
  width: calc(var(--dot-size) / 2);
}

.hidden-tile-container {
  position: fixed;
  visibility: hidden;
}
.hidden-tile-container ~ .tile-dot {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  :root {
    --dot-size: 6px;
  }
  #ally-hand > .tile { margin: 0px 4px 0px 0px; }
  #enemy-hand > .tile { margin: 0px 0px 0px 4px; }
}
.button.svelte-17l6cra{user-select:none;position:relative;display:inline-block;background:#bbada0;padding:8px 12px;font-size:20px;height:25px;font-weight:bold;border-radius:3px;color:white;margin-bottom:8px;text-align:center;cursor:pointer}
h1.svelte-c3s1xv{font-size:2rem;text-align:center}h2.svelte-c3s1xv{font-size:1.25rem}
.svelte-fnsfcv{box-sizing:border-box}.bg.svelte-fnsfcv{position:fixed;z-index:1000;display:flex;flex-direction:column;justify-content:center;width:100vw;height:100vh;background:rgba(0, 0, 0, 0.66)}.window-wrap.svelte-fnsfcv{position:relative;margin:2rem;max-height:100%}.window.svelte-fnsfcv{position:relative;width:40rem;max-width:100%;max-height:100%;margin:2rem auto;color:black;border-radius:0.5rem;background:white}.content.svelte-fnsfcv{position:relative;padding:1rem;max-height:calc(100vh - 4rem);overflow:auto}.close.svelte-fnsfcv{display:block;box-sizing:border-box;position:absolute;z-index:1000;top:1rem;right:1rem;margin:0;padding:0;width:1.5rem;height:1.5rem;border:0;color:black;border-radius:1.5rem;background:white;box-shadow:0 0 0 1px black;transition:transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
                background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);-webkit-appearance:none}.close.svelte-fnsfcv:before,.close.svelte-fnsfcv:after{content:'';display:block;box-sizing:border-box;position:absolute;top:50%;width:1rem;height:1px;background:black;transform-origin:center;transition:height 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
                background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1)}.close.svelte-fnsfcv:before{-webkit-transform:translate(0, -50%) rotate(45deg);-moz-transform:translate(0, -50%) rotate(45deg);transform:translate(0, -50%) rotate(45deg);left:0.25rem}.close.svelte-fnsfcv:after{-webkit-transform:translate(0, -50%) rotate(-45deg);-moz-transform:translate(0, -50%) rotate(-45deg);transform:translate(0, -50%) rotate(-45deg);left:0.25rem}.close.svelte-fnsfcv:hover{background:black}.close.svelte-fnsfcv:hover:before,.close.svelte-fnsfcv:hover:after{height:2px;background:white}.close.svelte-fnsfcv:focus{border-color:#3399ff;box-shadow:0 0 0 2px #3399ff}.close.svelte-fnsfcv:active{transform:scale(0.9)}.close.svelte-fnsfcv:hover,.close.svelte-fnsfcv:focus,.close.svelte-fnsfcv:active{outline:none}
